html,
body,
input,
textarea,
button,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.ui-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 640px;
  max-width: calc(100% - 24px);
  height: auto;
  background: #fafafa;
  box-shadow: 0 8px 24px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ui-box {
  padding: 24px 48px;
  background: #f6f6f6;
}

.ui-box:first-child {
  padding-top: 32px;
}

.ui-box:last-child {
  padding-bottom: 32px;
}

.ui-box.--light {
  background: #fff;
}

.ui-title {
  font-weight: 400;
}

.ui-button {
  border: 0;
  background: #4262ff;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer; /* always a question */
  position: relative;
  overflow: hidden;
  outline: none;
  margin-bottom: 4px;
}

.ui-button:active {
  background: #3d51d4;
}

/* a little something fancy */
@supports (mix-blend-mode: overlay) {
  .ui-button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #fff, transparent);
    mix-blend-mode: overlay;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  .ui-button:hover::after {
    opacity: 0.2;
  }
}

.test-link {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #4262ff;
  padding: 4px 12px;
  border: 1px solid #4262ff;
  border-radius: 6px;
  font-size: 12px;
  text-decoration: none;
}
